@charset "UTF-8";
header#pequeno h2 {
    background-color: #f4b1db;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
}

section#esq img#mulher {
    display: block;
    position: relative;
    float: unset;
    left: 20%;
    border: 0px solid rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .8);
}

section#esq {
    width: 700px;
    display: block;
    float: left;
    padding: 20px;
    border-right: 2px solid rgba(0, 0, 0, .3);
    margin-left: -20px;
}

section#esq h3 {
    margin-top: -10px;
    color: #f4b1db;
}

aside#dir {
    display: block;
    float: right;
    width: 650px;
}

aside#dir h3 {
    margin-top: 8px;
    color: #f4b1db;
}

aside#dir img#maos {
    position: relative;
    float: unset;
    left: 10%;
    margin-bottom: 20px;
    border: 0px solid rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .8);
}